

/* .el-pagination .el-pager li:not(.disabled) {
  background-color: #13192f;
}

.el-pager li {
  color: #ffffff;
}

.el-pager li.is-active{
  color: #05e8fe;
}

.el-pagination button {
  background-color: #13192f;
  color: #ffffff;
} */
