.container {
  background-color: #f4f5f5;
  /* background-image: url("../../assets/background.png"); */
}

.header {
  color: #000000;
}

.dataScreen-header .header-lf .header-screening {
  color: #000000;
}

.right-font {
  color: #000000;
}

.dataScreen-header .header-rg .header-time {
  color: #000000;
}

.dataScreen-header .header-ct .header-ct-title {
  color: #000000;
}

.dataScreen-header .header-ct .header-ct-title {
  color: #000000;
}

.el-table .in-stock-row {
  --el-table-tr-bg-color: #ffffff;
}